youre score: <%= @pscore %> <br>
computers score: <%= @cscore %> <br>
youre card is <%= @player %> <br>
computers card is <%= @computer %> <br>
<%= @say %> <br>

<form method="post">
<button name="strategy" type="submit" value="fold">fold</button>
<button name="strategy" type="submit" value="call">call</button>
</form>